[submodule "avy"]
	path = avy
	url = https://github.com/abo-abo/avy.git
[submodule "diff-hl"]
	path = diff-hl
	url = https://github.com/dgutov/diff-hl.git
[submodule "cuda-mode"]
	path = cuda-mode
	url = https://github.com/chachi/cuda-mode.git
